:root {
  color-scheme: light;
  --primary: rgb(26, 115, 232);
  --primary-container: rgb(66, 133, 244);
  --on-primary: #fff;
  --secondary: rgb(232, 240, 254);
  --secondary-container: rgb(210, 227, 252);
  --on-secondary: rgb(25, 103, 210);
  --on-secondary-container: rgb(24, 90, 188);
  --surface: #fff;
  --surface-transparent: rgba(255, 255, 255, 0);
  --surface-container: #fff;
  --surface-container-high: #fff;
  --surface-container-low: #fff;
  --surface-container-highest: #fff;
  --surface-variant: rgb(189, 193, 198);
  --on-surface: rgb(60, 64, 67);
  --on-surface-variant: rgb(95, 99, 104);
  --on-surface-variant-agm: #70757a;
  --background: #fff;
  --on-background: rgb(32, 33, 36);
  --background-hover: rgb(241, 243, 244);
  --background-focus: rgb(232, 234, 237);
  --textfield-surface: rgb(241, 243, 244);
  --textfield-primary: rgb(25, 103, 210);
  --textfield-hairline: rgb(128, 134, 139);
  --textfield-error: rgb(197, 34, 31);
  --outline-variant: rgb(218, 220, 224);
  --error: rgb(217, 48, 37);
  --on-error: #fff;
  --error-container: rgb(252, 232, 230);
  --on-error-container: rgb(197, 34, 31);
  --shadow-1: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
  --shadow-5: 0px 4px 4px 0px rgba(60, 64, 67, 0.3),
    0px 8px 12px 6px rgba(60, 64, 67, 0.15);
  --fab: rgba(255, 255, 255, 0.502);
  --fab-hover: #f6fafe;
  --dimmed: rgba(32, 33, 36, 0.38);
  --chip-hover: rgb(241, 243, 244);
  --now: rgb(234, 67, 53);
  --local-override-container: rgb(254, 247, 224);
  --local-override-focus-active-indicator: rgb(242, 153, 0);
  --time-picker-option-hover: rgb(241, 243, 244);
  --today-background: var(--primary);
  --today-background-hover: rgb(25, 103, 210);
  --today-background-focus: rgb(24, 90, 188);
  --today-background-hover-focus: rgb(23, 78, 166);
}

.qxCTlb {
  min-height: unset !important;
  padding: 0 !important;
  border-radius: 4px;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: 20px;
  letter-spacing: inherit !important;
  color: inherit !important;
  border-width: 0;
  cursor: pointer;
  white-space: break-spaces;
  word-break: break-word;
  background: inherit !important;
  text-align: start !important;
}

.hur54b {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(32, 33, 36, 0.6);
  padding: 16px !important;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* google calender box */
.mmGMM {
  border: none;
  border-radius: 8px;
  background-color: white;
  height: 90%;
}

/* close button */
.Xfsokf {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: hsl(40.9 82.3% 53.5%);
  color: white;
  height: 36px;
  padding: 16px;
  cursor: pointer;
  gap: 4px;
  margin-bottom: 1rem;
  margin-left: 45%;
}

.L0Dvsd {
  color: white;
  font-size: 18px;
  margin-right: 8px;
}

.uE25ec {
  font-size: 14px;
  font-family: "Google Sans", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  color: white;
}

@media (max-width: 780px) {
  .hur54b {
    padding: 64px !important;
  }

  .Xfsokf {
    margin-left: 100%;
  }

  .mmGMM {
    width: 100%;
  }
}

@media (min-width: 781px) {
  .hur54b {
    padding: 64px !important;
  }

  .Xfsokf {
    margin-left: 75%;
  }

  .mmGMM {
    width: 85%;
  }
}

@media (min-width: 1440px) {
  .hur54b {
    padding: 64px !important;
  }

  .Xfsokf {
    margin-left: 50%;
  }

  .mmGMM {
    width: 50%;
  }
}
